<!DOCTYPE html>
<html ng-app="App">
  <head>
    <meta charset="utf-8" />
    <title>Checkbox Sample</title>
    <link rel="stylesheet" href="//appsforoffice.microsoft.com/fabric/1.0/fabric.min.css">
    <link rel="stylesheet" href="//appsforoffice.microsoft.com/fabric/1.0/fabric.components.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <style>
      .my-result { color: red; }
      .my-sample { border:thin solid; border-radius: 4px; padding: 8px; }
    </style>
  </head>
  <body ng-controller="AppController">
    <div class="ms-Grid-col ms-u-sm2 ms-u-md4 ms-u-lg6 my-sample"><!-- チェックボックス -->
      <div class="ms-ChoiceField">
        <input id="check1" class="ms-ChoiceField-input" type="checkbox" ng-model="myCheckBox">
        <label for="check1" class="ms-ChoiceField-field">
          <span class="ms-Label">チェックボックス(<span class="my-result">{{myCheckBox}}</span>)</span>
        </label>
      </div>
    </div>
    <script>
      var app = angular.module('App', []).controller('AppController', ['$scope',
        function($scope) {
          $scope.myCheckBox = true;
        }
      ]);
    </script>
  </body>
</html>

