<!DOCTYPE html>
<html ng-app="App">
  <head>
    <meta charset="utf-8" />
    <title>Dropdown List Sample</title>
    <link rel="stylesheet" href="//appsforoffice.microsoft.com/fabric/1.0/fabric.min.css">
    <link rel="stylesheet" href="//appsforoffice.microsoft.com/fabric/1.0/fabric.components.min.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="https://rawgit.com/furandon-pig/b00192562399e16b8c0b/raw/ab78c58452ee94b8d66ee3798773a6d6e32093ef/officeui_dropdown_helper.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript">
      var ddd = null;
      $(document).ready(function() {
        if ($.fn.Dropdown) {
          ddd = $('.ms-Dropdown').Dropdown();
        }
        if(fabric && fabric['Dropdown']) {
          var component, componentHolder;
          componentHolder = document.querySelector('.component-holder');

          if (componentHolder) {
            component = new fabric.Spinner(componentHolder);
          }
        }
      });
    </script>
  </head>
  <body ng-controller="AppController">
    <div class="ms-Grid"> <!-- ラジオボタンを表示する -->
      <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
          <div class="ms-Grid-col ms-u-sm2 ms-u-md2 ms-u-lg2">ぽのか先輩は&nbsp;</div>
          <div class="ms-Grid-col ms-u-sm4 ms-u-md4 ms-u-lg4">
            <div class="ms-Dropdown" tabindex="0">
              <select class="ms-Dropdown-select" ng-repeat="list in lists">
                <option class="ms-Dropwodn-item" checked value="{{list.value}}">
                  {{list.label}}
                  <i class="ms-Icon ms-Icon--caretDown"></i>
                </option>
              </select>
            </div>
          </div>
          <div class="ms-Grid-col ms-u-sm2 ms-u-md2 ms-u-lg2">&nbsp;です。</div>
        </div>
      </div>
    </div>
    <script>
      var app = angular.module('App', []);
      app.controller('AppController', ['$scope',
        function($scope) {
          $scope.init = function() {
            $scope.lists = [
              { id: 0, label: "自販機釣り銭パカパカ二郎総帥", value: 0, },
              { id: 1, label: "ポツダム宣言大好き太郎先輩",   value: 1, },
              { id: 2, label: "第三次声優ブームオタク",       value: 2, },
            ];
          }
          $scope.init();
        }
      ]);
    </script>
  </body>
</html>

