<!DOCTYPE html>
<html ng-app="App">
  <head>
    <meta charset="utf-8" />
    <title>Grid Sample</title>
    <link rel="stylesheet" href="//appsforoffice.microsoft.com/fabric/1.0/fabric.min.css">
    <link rel="stylesheet" href="//appsforoffice.microsoft.com/fabric/1.0/fabric.components.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <style>
      .my-fill { border: thin solid; border-radius: 2px; margin-bottom: 1px; text-align: center; }
    </style>
  </head>
  <body ng-controller="AppController">
    <div class="ms-Grid">
      <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
          <h4>Office UI FabricのGridサンプル</h4>
        </div>
      </div>
    </div>
    <div class="ms-Grid">
      <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12" ng-repeat="grids in gridList">
          <div class="ms-Grid-col {{grids.className}} my-fill" style="background:{{grids.color}};" ng-repeat="grid in grids.repeatList">
            {{grids.label}}
          </div>
        </div>
      </div>
    </div>
    <script>
      var app = angular.module('App', []);
      app.controller('AppController', ['$scope',
        function($scope) {
          $scope.gridList = [
            { className: "ms-u-sm1",  maxRepeat: 12, color: "#ff7f7f" },
            { className: "ms-u-sm2",  maxRepeat:  6, color: "#ff7fbf" } ,
            { className: "ms-u-sm4",  maxRepeat:  3, color: "#ff7fff" },
            { className: "ms-u-sm6",  maxRepeat:  2, color: "#bf7fff" },
            { className: "ms-u-sm12", maxRepeat:  1, color: "#7f7fff" },
          ];
          for (var i in $scope.gridList) {
            $scope.gridList[i].label = $scope.gridList[i].className.replace(/^.*-/, "");
            $scope.gridList[i].repeatList = [];
            for (var j = 0; j < $scope.gridList[i].maxRepeat; j++) {
              $scope.gridList[i].repeatList.push(j);
            }
          }
        }
      ]);
    </script>
  </body>
</html>

