<!DOCTYPE html>
<html ng-app="App">
  <head>
    <meta charset="utf-8" />
    <title>Grid Sample(Bootstrap)</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <style>
      .my-fill { border: thin solid; border-radius: 2px; margin-bottom: 1px; text-align: center; }
    </style>
  </head>
  <body ng-controller="AppController">
   <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h4>BootstrapのGridサンプル</h4>
        </div>
      </div>
      <div class="row" ng-repeat="grids in gridList">
        <div class="{{grids.className}} my-fill" style="background: {{grids.color}};" ng-repeat="grid in grids.repeatList">
          {{grids.label}}
        </div>
      </div>
    </div><!-- container -->
    <script>
      var app = angular.module('App', []);
      app.controller('AppController', ['$scope',
        function($scope) {
          $scope.gridList = [
            { className: "col-sm-1",  maxRepeat: 12, color: "#ff7f7f" },
            { className: "col-sm-2",  maxRepeat:  6, color: "#ff7fbf" } ,
            { className: "col-sm-4",  maxRepeat:  3, color: "#ff7fff" },
            { className: "col-sm-6",  maxRepeat:  2, color: "#bf7fff" },
            { className: "col-sm-12", maxRepeat:  1, color: "#7f7fff" },
          ];
          for (var i in $scope.gridList) {
            $scope.gridList[i].label = $scope.gridList[i].className.replace(/^.*?-/, "").replace(/-/, "");
            $scope.gridList[i].repeatList = [];
            for (var j = 0; j < $scope.gridList[i].maxRepeat; j++) {
              $scope.gridList[i].repeatList.push(j);
            }
          }
        }
      ]);
    </script>
  </body>
</html>




