<!DOCTYPE html>
<html ng-app="App">
  <head>
    <meta charset="utf-8" />
    <title>index.html</title>
    <link rel="stylesheet" href="//appsforoffice.microsoft.com/fabric/1.0/fabric.min.css">
    <link rel="stylesheet" href="//appsforoffice.microsoft.com/fabric/1.0/fabric.components.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <style>
      .my-label {
        border: thin solid;
        border-radius: 4px;
        padding: 4px;
      }
    </style>
  </head>
  <body ng-controller="AppController">
    <div class="ms-Grid">
      <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
          <h2>
            <i class="ms-Icon ms-Icon--lightBulb" aria-hidden="true"></i>
            Office UI Advent Calendar 2015サンプルプログラム
          </h2>
        </div>
      </div>
    </div>
    <div class="ms-Grid">
      <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm1"></div>
        <div class="ms-Grid-col ms-u-sm10 my-label">
          <a href="http://qiita.com/advent-calendar/2015/officeui">Office UI Advent Calendar 2015</a>
          で解説しているサンプルプログラム集です。
        </div>
        <div class="ms-Grid-col ms-u-sm1"></div>
      </div>
    </div>
    <div class="ms-Grid">
      <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
          <div class="ms-Table">
            <div class="ms-Table-row">
              <span class="ms-Table-cell">サンプルプログラム</span>
              <span class="ms-Table-cell">Qiitaの記事</span>
            </div>
            <div class="ms-Table-row" ng-repeat="list in lists">
              <span class="ms-Table-cell">
                <a href="{{list.link}}">{{list.label}}</a>
              </span>
              <span class="ms-Table-cell">
                <a href="{{list.qiitaUrl}}">{{list.qiitaUrl}}</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    var app = angular.module('App', []);
    app.controller('AppController', ['$scope',
      function($scope) {
        $scope.init = function() {
          $scope.lists = [
            {
              link: 'hello.html',
              label: 'hello,OfficeUI',
              qiitaUrl: 'http://qiita.com/furandon_pig/items/fc9234276bf904ee89f7',
              desc: ''
            }, {
              link: 'label.html',
              label: 'ラベル',
              qiitaUrl: 'http://qiita.com/furandon_pig/items/d84485b40c3d3a2a5b22',
              desc: ''
            }, {
              link: 'fontcolor.html',
              label: '文字色',
              qiitaUrl: 'http://qiita.com/furandon_pig/items/d84485b40c3d3a2a5b22',
              desc: ''
            }, {
              link: 'button.html',
              label: 'ボタン',
              qiitaUrl: 'http://qiita.com/furandon_pig/items/0ba4073b703e4fee0ffb',
              desc: ''
            }, {
              link: 'toggle.html',
              label: 'トグルボタン',
              qiitaUrl: 'http://qiita.com/furandon_pig/items/c3f36757828a8a1f6b8f',
              desc: ''
            }, {
              link: 'checkbox.html',
              label: 'チェックボックス',
              qiitaUrl: 'http://qiita.com/furandon_pig/items/c3f36757828a8a1f6b8f',
              desc: ''
            }, {
              link: 'textbox.html',
              label: 'テキストボックス',
              qiitaUrl: 'http://qiita.com/furandon_pig/items/dca7c2550500ac65ac80',
              desc: ''
            }, {
              link: 'radio.html',
              label: 'ラジオボタン',
              qiitaUrl: 'http://qiita.com/furandon_pig/items/8b543a1df5df2ef15974',
              desc: ''
            }, {
              link: 'dropdown.html',
              label: 'ドロップダウンリスト',
              qiitaUrl: 'http://qiita.com/furandon_pig/items/8b543a1df5df2ef15974',
              desc: ''
            }, {
              link: 'grid.html',
              label: 'レスポンシブグリッド',
              qiitaUrl: 'http://qiita.com/furandon_pig/items/62a002b147cc6d3c8afd',
              desc: ''
            }, {
              link: 'grid_twbs.html',
              label: 'レスポンシブグリッド(Bootstrap版)',
              qiitaUrl: 'http://qiita.com/furandon_pig/items/62a002b147cc6d3c8afd',
              desc: ''
            }, {
              link: 'icon.html',
              label: 'アイコン',
              qiitaUrl: 'http://qiita.com/furandon_pig/items/2006fcab7a8ee92139ff',
              desc: ''
            }, {
              link: 'dialog.html',
              label: 'ダイアログ',
              qiitaUrl: 'http://qiita.com/furandon_pig/items/7543e483f20be7619369',
              desc: ''
            }, {
              link: 'panel.html',
              label: 'パネル',
              qiitaUrl: 'http://qiita.com/furandon_pig/items/f49f5f004c56af5975eb',
              desc: ''
            }, {
              link: 'spinner.html',
              label: 'スピナー',
              qiitaUrl: 'http://qiita.com/furandon_pig/items/9c32d9d2a1c8d8ecefcd',
              desc: ''
            }, {
              link: 'table.html',
              label: 'テーブル',
              qiitaUrl: 'http://qiita.com/furandon_pig/items/2514ab7f7e7c44b9d7e0',
              desc: ''
            }, {
              link: 'list.html',
              label: 'リスト',
              qiitaUrl: 'http://qiita.com/furandon_pig/items/2514ab7f7e7c44b9d7e0',
              desc: ''
            }, {
              link: 'callout.html',
              label: 'Callout(吹き出し風UI)',
              qiitaUrl: '',
              desc: ''
            },
          ];
        }
        $scope.init();
      }
    ]);
  </script>
</html>

