<!DOCTYPE html>
<html ng-app="App">
  <head>
    <meta charset="utf-8" />
    <title>Radio Button Sample</title>
    <link rel="stylesheet" href="//appsforoffice.microsoft.com/fabric/1.0/fabric.min.css">
    <link rel="stylesheet" href="//appsforoffice.microsoft.com/fabric/1.0/fabric.components.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <style>
      .my-sample { border: thin solid; border-radius: 4px; padding: 4px; margin-top: 10px; }
      .my-bold   { color: #e4007f; }
    </style>
  </head>
  <body ng-controller="AppController">
    <div class="ms-Grid"> <!-- ラジオボタンの選択内容で表示を変える -->
      <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
          ぽのか先輩は&nbsp;<b class="my-bold">{{radioLabel}}</b>&nbsp;です。
        </div>
      </div>
    </div>
    <!--
    <div class="ms-Grid">
      <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm3 ms-u-md4 ms-u-lg6 my-sample">
          <div class="ms-ChoiceFieldGroup" ng-repeat="radio in radioButtons">
            <div class="ms-ChoiceField">
              <input id="radio{{radio.id}}" class="ms-ChoiceField-input" type="radio" name="ponokaName"
                     ng-model="ponokaName" ng-value="radio.value" ng-click="choiceRadioLabel(radio)">
              <label for="radio{{radio.id}}" class="ms-ChoiceField-field">
                <span class="ms-Label">{{radio.label}}</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    -->

    <div class="ms-Grid"> <!-- ラジオボタンを表示する -->
      <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-lg12 my-sample">
          <div class="ms-ChoiceFieldGroup" ng-repeat="radio in radioButtons">
            <div class="ms-Grid-col ms-u-sm4 ms-u-md4 ms-u-lg4">
              <div class="ms-ChoiceField">
                <input id="radio{{radio.id}}" class="ms-ChoiceField-input" type="radio" name="ponokaName"
                       ng-model="ponokaName" ng-value="radio.value" ng-click="choiceRadioLabel(radio)">
                <label for="radio{{radio.id}}" class="ms-ChoiceField-field">
                  <span class="ms-Label">{{radio.label}}</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      var app = angular.module('App', []);
      app.controller('AppController', ['$scope',
        function($scope) {
          $scope.init = function() {
            $scope.radioButtons = [
              { id: 0, label: "自販機釣り銭パカパカ二郎総帥", value: 0 },
              { id: 1, label: "ポツダム宣言大好き太郎先輩",   value: 1 },
              { id: 2, label: "第三次声優ブームオタク",       value: 2 },
            ];
            $scope.choiceRadioLabel($scope.radioButtons[0]);
          }
          $scope.choiceRadioLabel = function(radio) {
            $scope.radioLabel = radio.label;
          }
          $scope.init();
        }
      ]);
    </script>
  </body>
</html>

