<!DOCTYPE html>
<html ng-app="App">
  <head>
    <meta charset="utf-8" />
    <title>Sample</title>
    <link rel="stylesheet" href="//appsforoffice.microsoft.com/fabric/1.0/fabric.min.css">
    <link rel="stylesheet" href="//appsforoffice.microsoft.com/fabric/1.0/fabric.components.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <style>
      .result { color: red; }
    </style>
  </head>
  <body ng-controller="AppController">
    <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12"><!-- トグルボタン -->
      <span class="ms-Toggle">
        <span class="ms-Toggle-description">トグルボタン</span>
        <input id="toggle1" type="checkbox" class="ms-Toggle-input" ng-model="myToggleButton">
        <label for="toggle1" class="ms-Toggle-field">
          <span class="ms-Label ms-Label--off">OFF</span>
          <span class="ms-Label ms-Label--on">ON</span>
        </label>
      </span>
    </div>
    <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12"><!-- 結果表示 -->
      <p>トグルボタンの値＝<span class="result">{{myToggleButton}}</span></p>
    </div>
    <script>
      var app = angular.module('App', []);
      app.controller('AppController', ['$scope',
        function($scope) {
          $scope.myToggleButton = true;
        }
      ]);
    </script>
  </body>
</html>

