<!DOCTYPE html>
<html ng-app="MyApp">
  <head>
    <meta charset="utf-8" />
    <title>mermaidAPI.js sample</title>
    <!--
    <link rel="stylesheet" href="/lib/mermaid-0.5.1/mermaid.css">
    -->
    <link rel="stylesheet" href="mermaid.css">
    <link rel="stylesheet" href="/lib/officeui/css/fabric.components.min.css">
    <link rel="stylesheet" href="/lib/officeui/css/fabric.min.css">
    <link rel="stylesheet" href="myapp.css">
    <!--
    <script src="/lib/officeui/dist/js/jquery.fabric.min.js"></script>
    -->
    <script src="/lib/angular-1.4.5/angular.min.js"></script>
    <script src="myapp.js"></script>
  </script>
  </head>
<body class="fpig-body">
  <main class="Container" ng-controller="MyAppCtrl">

    <div class="ms-Grid">
      <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
          <h1 class="ms-fontColor-white ms-bgColor-themeDarkAlt fpig-h1">
          <i class="ms-Icon ms-Icon--cat"></i>
          mermaidAPI.js sample
          </h1>
        </div>
        <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
          <div class="ms-NavBar fpig-header-NavBar">
            <ul class="ms-NavBar-items">
              <li class="ms-NavBar-item" ng-click="save()">
                <i class="ms-Icon ms-Icon--save"></i>
                保存(local storage)
              </li>
              <li class="ms-NavBar-item" ng-click="showConfig()">
                <i class="ms-Icon ms-Icon--gear"></i>
                設定
              </li>
              <li class="ms-NavBar-item" ng-click="download()" ng-hide="hideDownload">
                <i class="ms-Icon ms-Icon--download"></i>
                SVG形式でダウンロード 
              </li>
              <li class="ms-NavBar-item" ng-click="toggleHelp()">
                <i class="ms-Icon ms-Icon--{{helpIcon}}"></i>
                quick help
              </li>
              <li class="ms-NavBar-item ms-NavBar-item--right" ng-click="showAbout()">
                <i class="ms-Icon ms-Icon--infoCircle"></i>
                About...
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- help表示用 -->
    <div class="ms-Grid">
      <div class="ms-Grid-row help-hide" style="display:{{showHelpArea}};">
        <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
          <div align="center" style="border:thin solid lightgray;border-radius:2px;margin-top:4px;padding:6px;">
            <img src="quickhelp.svg" width="100%" height="100%">
          </div>
        </div>
      </div>
    </div>


    <!-- mermaidコード・graphレンダリング用 -->
    <div class="ms-Grid">
      <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
          <h3 class="ms-fontColor-white ms-bgColor-themePrimary fpig-h3">
            <i class="ms-Icon ms-Icon--picture"></i>
            mermaid graph rendering
          </h3>
        </div>
        <!-- 情報・アラート表示用 -->
        <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
          <label class="ms-Label ms-fontColor-{{alertColor}}" style="margin-top:-20px;">
            <i class="ms-Icon ms-Icon--{{alertIcon}}"></i>
            {{alertMsg}}
          </label>
        </div>
        <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg3">
            <div class="ms-TextField ms-TextField--multiline">
              <textarea id="_code" class="ms-TextField-field" style="height:200px;" oninput="codeCheck()" ng-model="code" ng-change="render()"></textarea>
            </div>
          </div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg9">
            <div class="fpig-graph">
              <div id="graph" name="_graph"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- SVGコード表示 -->
    <div class="ms-Grid">
      <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
          <h3 class="ms-fontColor-white ms-bgColor-themePrimary fpig-h3">
            <i class="ms-Icon ms-Icon--soccer"></i>
            レンダリングされたgraphのSVGコード(read only)
          </h3>
        </div>
        <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12" style="margin-top:-20px;">
          <label class="ms-Label ms-fontColor-green">
            <i class="ms-Icon ms-Icon--infoCircle"></i>
            mermaidが出力したSVGを一部変換し、Inkscapeで読み込める形式にしてあります。
          </label>
        </div>
        <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
          <textarea class="ms-TextField-field" style="height:100px;" readonly ng-model="resultSVG"></textarea>
        </div>
      </div>
    </div>

    <!-- フッター -->
    <div class="ms-Grid">
      <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
          <div class="ms-NavBar fpig-footer-NavBar">
            <ul class="ms-NavBar-items">
              <li class="ms-NavBar-item ms-NavBar-item--right is-disabled" style="margin-top:5px;margin-right:0px;">
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://furandon_pig.bitbucket.org/sample/officeui/mermaid/">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
              </li>
              <li class="ms-NavBar-item ms-NavBar-item--right">
                <i class="ms-Icon ms-Icon--arrowUpRight"></i>
                <a href="https://angularjs.org/" target="_blank">AngularJS</a>
              </li>
              <li class="ms-NavBar-item ms-NavBar-item--right">
                <i class="ms-Icon ms-Icon--arrowUpRight"></i>
                <a href="https://github.com/OfficeDev/Office-UI-Fabric" target="_blank">Office UI Fabric</a>
              </li>
            </ul>
          </div>
        </div>
      </div>  
    </div>

    <!-- 「設定」ダイアログ -->
    <div class="ms-Dialog ms-Dialog--lgHeader dialog-hide" style="visibility:{{showFlgConfigDlg}}">
      <div class="ms-Overlay">
        <div class="ms-Dialog-main">
          <div class="ms-Dialog-header">
            <p class="ms-Dialog-title">
              <i class="ms-Icon ms-Icon--gear"></i>
              設定
            </p>
          </div>
          <div class="ms-Dialog-inner">
            <div class="ms-Dialog-content">
              <label class="ms-Label">
                <i class="ms-Icon ms-Icon--xCircle"></i>
                保存データ
              </label>
              <button class="ms-Dialog-action ms-Button" ng-disabled="disableLocalStorage" ng-click="clearLocalStorageData()">
                <span class="ms-Button-label ms-fontColor-red">
                  <i class="ms-Icon ms-Icon--alertOutline"></i>
                  local storageのクリア
                </span>
              </button>
              <label class="ms-Label ms-fontColor-green">
                <i class="ms-Icon ms-Icon--infoCircle"></i>
                {{storageClearInfo}}
              </label>

            </div>
            <div class="ms-Dialog-actions">
              <div class="ms-Dialog-actionsRight">
                <button class="ms-Dialog-action ms-Button ms-Button--primary" ng-click="closeConfig()">
                  <span class="ms-Button-label">Close</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- アプリ説明用ダイアログ -->
    <div class="ms-Dialog ms-Dialog--lgHeader dialog-hide" style="visibility:{{showFlgAboutDlg}}">
      <div class="ms-Overlay">
        <div class="ms-Dialog-main">
          <div class="ms-Dialog-header">
            <p class="ms-Dialog-title">
              <i class="ms-Icon ms-Icon--infoCircle"></i>
              このアプリについて
            </p>
          </div>
          <div class="ms-Dialog-inner">
            <div class="ms-Dialog-content">
              <label class="ms-Label">
                <p>
                <a href="http://knsv.github.io/mermaid/index.html" target="_blank">mermaid</a>のサンプルプログラムです。
                <p>
                <a href="https://github.com/OfficeDev/Office-UI-Fabric">Office UI Fabric</a>と<a href="https://angularjs.org/">AngularJS</a>を使用しています。
                </p>
                <p>
                  動作の不具合などありましたら、<a href="https://twitter.com/furandon_pig" target="_blank">@furandon_pig</a>までお知らせください。
                </p>
              </label>
            </div>
            <div class="ms-Dialog-actions">
              <div class="ms-Dialog-actionsRight">
                <button class="ms-Dialog-action ms-Button ms-Button--primary" ng-click="closeAbout()">
                  <span class="ms-Button-label">OK</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- confirmダイアログ -->
    <div class="ms-Dialog ms-Dialog--lgHeader dialog-hide" style="visibility:{{showFlgConfirmDlg}}">
      <div class="ms-Overlay">
        <div class="ms-Dialog-main">
          <div class="ms-Dialog-header">
            <p class="ms-Dialog-title">
            <i class="ms-Icon ms-Icon--question"></i>
              {{confirmTitle}}
            </p>
          </div>
          <div class="ms-Dialog-inner">
            <div class="ms-Dialog-content">
              <label class="ms-Label">
                {{confirmMsg}}
              </label>
            </div>
            <div class="ms-Dialog-actions">
              <div class="ms-Dialog-actionsRight">
                <button class="ms-Dialog-action ms-Button ms-Button--primary" ng-click="closeConfirmYes()">
                  <span class="ms-Button-label">Yes</span>
                </button>
                <button class="ms-Dialog-action ms-Button ms-Button" ng-click="closeConfirmNo()">
                  <span class="ms-Button-label">No</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main> 
  <script src="/lib/mermaid-0.5.1/mermaid.min.js"></script>
  <!--
  <script src="/lib/mermaid-0.5.1/mermaid.js"></script>
  -->
  <script src="/lib/mermaid-0.5.1/mermaidAPI.js"></script>
  <script>
  CodeInputHelper = (function() {
    var lastCheckResult = true;
    var resultInvalidChars = [];

    isInvalidChar = function(c) {
      var validCharRanges = [
        { start:' '.charCodeAt(0),  end: ' '.charCodeAt(0)  },
        { start:'a'.charCodeAt(0),  end: 'z'.charCodeAt(0)  },
        { start:'A'.charCodeAt(0),  end: 'Z'.charCodeAt(0)  },
        { start:'ぁ'.charCodeAt(0), end: 'ん'.charCodeAt(0) },
        { start:'ァ'.charCodeAt(0), end: 'ヶ'.charCodeAt(0) },
        { start:'一'.charCodeAt(0), end: '鶴'.charCodeAt(0) },
      ];
      var validChars = [
        "\n".charCodeAt(0), ' '.charCodeAt(0), '%'.charCodeAt(0),
        '-'.charCodeAt(0), '<'.charCodeAt(0), '>'.charCodeAt(0),
        '['.charCodeAt(0), ']'.charCodeAt(0), '!'.charCodeAt(0),
        '"'.charCodeAt(0), "'".charCodeAt(0), 'ー'.charCodeAt(0),
        '{'.charCodeAt(0), '}'.charCodeAt(0), '\\'.charCodeAt(0), 
        '('.charCodeAt(0), ')'.charCodeAt(0), '/'.charCodeAt(0), 
        '='.charCodeAt(0), ':'.charCodeAt(0), '.'.charCodeAt(0),
        '0'.charCodeAt(0), '1'.charCodeAt(0), '2'.charCodeAt(0),
        '3'.charCodeAt(0), '4'.charCodeAt(0), '5'.charCodeAt(0),
        '6'.charCodeAt(0), '7'.charCodeAt(0), '8'.charCodeAt(0),
        '9'.charCodeAt(0), '_'.charCodeAt(0), '　'.charCodeAt(0),
        ','.charCodeAt(0), ';'.charCodeAt(0), '#'.charCodeAt(0),
      ];
      var charCode = c.charCodeAt(0);

      for (var i in validCharRanges) {
        if (charCode >= validCharRanges[i].start && validCharRanges[i].end >= charCode) {
          /*
          console.log(
              'start= ' + validCharRanges[i].start +
              ', end= ' + validCharRanges[i].end +
              ', charCode= ' + charCode + ', true');
          */
          return true;
        }
      }
      for (var i in validChars) {
        if (charCode == validChars[i]) {
          return true;
        }
      }

      resultInvalidChars.push(c);
      return false;
    }

    codeCheck = function() {
      var curCode = document.getElementById('_code').value;

      resultInvalidChars.splice(0, resultInvalidChars.length);
      var result = true;
      for (var i in curCode) {
        var curChar = curCode.substr(i, 1);
        result = result & isInvalidChar(curChar);
      }

      lastCheckResult = result;
      return result;
    }

    getLastCheckResult = function() {
      return lastCheckResult;
    }

    getLastInvalidString = function() {
      return resultInvalidChars.join(',');
    }

    return {
      'codeCheck'          : codeCheck,
      'getLastCheckResult' : getLastCheckResult,
      'getLastInvalidString' : getLastInvalidString,
    }
  }());
  </script>
  <script>
  </script>
</body>
</html>

