/* myapp.css */

.fpig-body {
  background: #fffffc; /* 胡粉色(ごふんいろ) */
  color: #0000ff;
}
.fpig-h1 {
  margin-top:    0px;
  margin-bottom: 0px;
  padding-left:  8px;
  border-top-right-radius: 2px;
  border-top-left-radius:  2px;
}
.fpig-h3 {
  padding-left:  10px;
  border-radius: 2px;
}
.fpig-header-NavBar {
  padding-left:  8px;
  padding-right: 8px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius:  2px;
}
.fpig-footer-NavBar {
  margin-top: 8px;
  padding-left:  8px;
  padding-right: 8px;
  border-radius: 2px;
}
.help {
  background:#fffcec;
  border:thin solid #fffcec;
  border-radius:2px;
  margin-left:0px;
  margin-right:0px;
  text-align:center;
}
.help-hide {
  display: none;
}
.dialog-hide {
  visibility: hidden;
}
.fpig-graph {
  background:white;
  border:thin solid gray;
  border-radius:2px;
  box-shadow: 6px 6px 6px lightgray;
}

