<!DOCTYPE html>
<html ng-app="MyApp">
  <head>
    <meta charset="utf-8" />
    <title>JSON export/import(Office UI sample application)</title>
    <link rel="stylesheet" href="/lib/officeui/css/fabric.components.min.css">
    <link rel="stylesheet" href="/lib/officeui/css/fabric.min.css">
    <script src="/lib/angular-1.4.5/angular.min.js"></script>
    <script src="myapp.js"></script>
    <style>
.fpig-body {
  background: #fffffc; /* 胡粉色(ごふんいろ) */
  color: #0000ff;
}
.fpig-h1 {
  margin-top:    0px;
  margin-bottom: 0px;
  padding-left:  8px;
  border-top-right-radius: 2px;
  border-top-left-radius:  2px;
}
.fpig-header-NavBar {
  padding-left:  8px;
  padding-right: 8px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius:  2px;
}
.fpig-footer-NavBar {
  margin-top: 8px;
  padding-left:  8px;
  padding-right: 8px;
  border-radius: 2px;
}
    </style>
  </head>
<body class="fpig-body">
  <main class="Container" ng-controller="MyAppCtrl">
    <div class="ms-Grid">
      <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
          <h1 class="ms-fontColor-white ms-bgColor-themeDarkAlt fpig-h1">
          <i class="ms-Icon ms-Icon--cat"></i>
          JSON export/import
          </h1>
        </div>
        <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
          <div class="ms-NavBar fpig-header-NavBar">
            <ul class="ms-NavBar-items">
              <li class="ms-NavBar-item" ng-click="showConfig()">
                <i class="ms-Icon ms-Icon--gear"></i>
                設定
              </li>
              <li class="ms-NavBar-item ms-NavBar-item--right" ng-click="showAbout()">
                <i class="ms-Icon ms-Icon--infoCircle"></i>
                About...
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- 操作用ボタン -->
    <div class="ms-Grid">
      <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg1">
          </div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg10" style="margin-top:4px;">
            <button class="ms-Button ms-Button--primary" ng-click="save()">
              <span class="ms-Button-label">
                <i class="ms-Icon ms-Icon--save"></i>
                保存(local storage)
              </span>
            </button>
            <button class="ms-Button ms-Button--primary" ng-click="export()">
              <span class="ms-Button-label">
                <i class="ms-Icon ms-Icon--upload"></i>
                エクスポート
              </span>
            </button>
            <button class="ms-Button ms-Button--primary" ng-click="import()">
              <span class="ms-Button-label">
                <i class="ms-Icon ms-Icon--download"></i>
                インポート
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- 情報・アラート表示用 -->
    <div class="ms-Grid">
      <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg1">
          </div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg10">
            <label class="ms-Label ms-fontColor-{{alertColor}}">
              <i class="ms-Icon ms-Icon--{{alertIcon}}"></i>
              {{alertMsg}}
            </label>
          </div>
        </div>
      </div>
    </div>

    <!-- メモの追加 -->
    <div class="ms-Grid">
      <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg1">
          </div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg11">
            <button class="ms-Button ms-Button--primary" ng-click="add()">
              <span class="ms-Button-label">
                <i class="ms-Icon ms-Icon--circlePlus"></i>
                メモを追加
              </span>
            </button>
            <span class="ms-ChoiceField" style="margin-left:10px;">
              <input id="junkmemo" class="ms-ChoiceField-input" type="checkbox" ng-model="useRandomMemo">
              <label for="junkmemo" class="ms-ChoiceField-field">
                <span class="ms-Label">適当なメモデータを生成する</span>
              </label>
            </span>
          </div>
        </div>
      </div>
    </div>

    <!-- 検索 -->
    <div class="ms-Grid">
      <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg3">
          </div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg6">
            <div class="ms-TextField ms-TextField--underlined">
              <label class="ms-Label ms-fontColor-green">
                <i class="ms-Icon ms-Icon--search"></i>
              </label>
              <input class="ms-TextField-field" placeholder="キーワードで検索できます" ng-model="keyword" ng-change="search()">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- メモ一覧表示 -->
    <div class="ms-Grid">
      <div class="ms-Grid-row">
        <span ng-repeat="item in items | filter: { '_show': true } ">
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg1">
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg10">
              <div class="ms-TextField ms-TextField--underlined">
                <label class="ms-Label " ng-click="add2($index)">
                  <i class="ms-Icon ms-Icon--{{getNoteIcon($index)}}"></i>
                </label>
                <input class="ms-TextField-field" placeholder="追加されたメモ" ng-model="item.memo">
              </div>
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg1">
              <label class="ms-Label ms-fontColor-red" ng-click="remove(item)" style="margin-top:8px;margin-left:-60px;">
                <i class="ms-Icon ms-Icon--trash"></i>
                削除
              </label>
            </div>
          </div>
        </span> <!-- ng-repeat -->
      </div>
    </div>

    <div class="ms-Grid">
      <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
          <div class="ms-NavBar fpig-footer-NavBar">
            <ul class="ms-NavBar-items">
              <li class="ms-NavBar-item ms-NavBar-item--right">
                <i class="ms-Icon ms-Icon--arrowUpRight"></i>
                <a href="https://github.com/OfficeDev/Office-UI-Fabric" target="_blank">Office UI Fabric</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- 「設定」ダイアログ -->
    <div class="ms-Dialog ms-Dialog--lgHeader" style="visibility:{{showFlgConfigDlg}}">
      <div class="ms-Overlay">
        <div class="ms-Dialog-main">
          <div class="ms-Dialog-header">
            <p class="ms-Dialog-title">
              <i class="ms-Icon ms-Icon--gear"></i>
              設定
            </p>
          </div>
          <div class="ms-Dialog-inner">
            <div class="ms-Dialog-content">
              <div class="ms-ChoiceField">
                <input id="confirm_when_remove" class="ms-ChoiceField-input" type="checkbox" ng-model="isConfirmWhenRemove">
                <label for="confirm_when_remove" class="ms-ChoiceField-field">
                  <span class="ms-Label">メモの削除時に確認する</span>
                </label>
              </div>
              <button class="ms-Dialog-action ms-Button" ng-disabled="disableLocalStorage" ng-click="clearLocalStorageData()">
                <span class="ms-Button-label ms-fontColor-red">
                  <i class="ms-Icon ms-Icon--alertOutline"></i>
                  データのクリア
                </span>
              </button>
              <label class="ms-Label ms-fontColor-green">
                <i class="ms-Icon ms-Icon--infoCircle"></i>
                {{storageClearInfo}}
              </label>

            </div>
            <div class="ms-Dialog-actions">
              <div class="ms-Dialog-actionsRight">
                <button class="ms-Dialog-action ms-Button ms-Button--primary" ng-click="closeConfig()">
                  <span class="ms-Button-label">Close</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- エクスポート用ダイアログ -->
    <div class="ms-Dialog ms-Dialog--lgHeader" style="visibility:{{showFlgExportDlg}}">
      <div class="ms-Overlay">
        <div class="ms-Dialog-main">
          <div class="ms-Dialog-header">
            <p class="ms-Dialog-title">
              <i class="ms-Icon ms-Icon--upload"></i>
              JSONエクスポート
            </[>
          </div>
          <div class="ms-Dialog-inner">
            <div class="ms-Dialog-content">
              <div class="ms-TextField ms-TextField--multiline">
                <label class="ms-Label">
                  <i class="ms-Icon ms-Icon--notebook"></i>
                  データ
                </label>
                <textarea class="ms-TextField-field" rows="80" cols="200" placeholder="" ng-model="jsonData">
                </textarea>
              </div>
            </div>
            <div class="ms-Dialog-actions">
              <div class="ms-Dialog-actionsRight">
                <button class="ms-Dialog-action ms-Button ms-Button--primary" ng-click="closeExport()">
                  <span class="ms-Button-label">Close</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- インポート用ダイアログ -->
    <div class="ms-Dialog ms-Dialog--lgHeader" style="visibility:{{showFlgImportDlg}}">
      <div class="ms-Overlay">
        <div class="ms-Dialog-main">
          <div class="ms-Dialog-header">
            <p class="ms-Dialog-title">
              <i class="ms-Icon ms-Icon--download"></i>
              JSONインポート
            </p>
          </div>
          <div class="ms-Dialog-inner">
            <div class="ms-Dialog-content">
              <div class="ms-TextField ms-TextField--multiline">
                <label class="ms-Label">
                  <i class="ms-Icon ms-Icon--notebook"></i>
                  データ
                </label>
                <textarea class="ms-TextField-field" rows="80" cols="200" placeholder="" ng-model="jsonData">
                </textarea>
              </div>
              <div ng-hide="isExport">
                  <button class="ms-Dialog-action ms-Button" ng-click="doImport()">
                  <span class="ms-Button-label">
                    <i class="ms-Icon ms-Icon--alertOutline"></i>
                    インポート
                  </span>
                </button>
                <label class="ms-Label ms-fontColor-{{importErrorColor}}">
                  <i class="ms-Icon ms-Icon--{{importErrorIcon}}"></i>
                  {{importErrorMsg}}
                </label>
              </div>
            </div>
            <div class="ms-Dialog-actions">
              <div class="ms-Dialog-actionsRight">
                <button class="ms-Dialog-action ms-Button ms-Button--primary" ng-click="closeImport()">
                  <span class="ms-Button-label">Close</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- アプリ説明用ダイアログ -->
    <div class="ms-Dialog ms-Dialog--lgHeader" style="visibility:{{showFlgAboutDlg}}">
      <div class="ms-Overlay">
        <div class="ms-Dialog-main">
          <div class="ms-Dialog-header">
            <p class="ms-Dialog-title">
              <i class="ms-Icon ms-Icon--infoCircle"></i>
              このアプリについて
            </p>
          </div>
          <div class="ms-Dialog-inner">
            <div class="ms-Dialog-content">
              <label class="ms-Label">
                <p>
                <a href="https://github.com/OfficeDev/Office-UI-Fabric">Office UI Fabric</a>と<a href="https://angularjs.org/">AngularJS</a>で作成した、JSONデータのインポート・エクスポートを行うサンプルプログラムです。
                </p>
                <p>
                メモデータの文言は、以下の作品から引用しています。
                  <ul>
                    <li>DEATH NOTE</li>
                    <li>ねじ式</li>
                    <li>ゆゆ式</li>
                    <li>GA 芸術家アートデザインクラス</li>
                    <li>孤独のグルメ</li>
                    <li>刑務所の中</li>
                  </ul>
                </p>
                <p>
                  動作の不具合などありましたら、<a href="https://twitter.com/furandon_pig" target="_blank">@furandon_pig</a>までお知らせください。
                </p>
              </label>
            </div>
            <div class="ms-Dialog-actions">
              <div class="ms-Dialog-actionsRight">
                <button class="ms-Dialog-action ms-Button ms-Button--primary" ng-click="closeAbout()">
                  <span class="ms-Button-label">OK</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- confirmダイアログ -->
    <div class="ms-Dialog ms-Dialog--lgHeader" style="visibility:{{showFlgConfirmDlg}}">
      <div class="ms-Overlay">
        <div class="ms-Dialog-main">
          <div class="ms-Dialog-header">
            <p class="ms-Dialog-title">
            <i class="ms-Icon ms-Icon--question"></i>
              {{confirmTitle}}
            </p>
          </div>
          <div class="ms-Dialog-inner">
            <div class="ms-Dialog-content">
              <label class="ms-Label">
                {{confirmMsg}}
              </label>
            </div>
            <div class="ms-Dialog-actions">
              <div class="ms-Dialog-actionsRight">
                <button class="ms-Dialog-action ms-Button ms-Button--primary" ng-click="closeConfirmYes()">
                  <span class="ms-Button-label">Yes</span>
                </button>
                <button class="ms-Dialog-action ms-Button ms-Button" ng-click="closeConfirmNo()">
                  <span class="ms-Button-label">No</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main> 
  <script src="/lib/officeui/dist/js/jquery.fabric.min.js"></script>
  <script>
  </script>
</body>
</html>

