<!DOCTYPE html>
<html ng-app="OfficeUI_SampleApp">
  <head>
    <meta charset="utf-8" />
    <title>OfficeUI Fabricサンプル</title>
    <link rel="stylesheet" href="/lib/officeui/css/fabric.components.min.css">
    <link rel="stylesheet" href="/lib/officeui/css/fabric.components.min.css">
    <link rel="stylesheet" href="/lib/officeui/css/fabric.min.css">
    <!-- Jquery.*.jsなファイルは、必ずAngularJSよりも先に読み込ませること -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="/lib/offiecui/components/Dropdown/Dropdown.css">
    <script src="/lib/officeui/samples/Components/Dropdown/Jquery.Dropdown.js"></script>
    <!-- AngularJS -->
    <script src="/lib/angular-1.4.5/angular.min.js"></script>
    <!-- ユーザ定義のJSファイル -->
    <script src="officeui_sample.js"></script>

    <script type="text/javascript">
      var ddd = null;
      $(document).ready(function() {
        // File Picker demo fixes
        if ($('.ms-FilePicker').length > 0) {
          $('.ms-FilePicker').css({
            "position": "absolute !important"
          });

          $('.ms-Panel').FilePicker();
        } else {
          if ($.fn.Dropdown) {
            ddd = $('.ms-Dropdown').Dropdown();
          }
        }

        if(fabric && fabric['Dropdown']) {
          var component, componentHolder;
          componentHolder = document.querySelector('.component-holder');

          if (componentHolder) {
            component = new fabric.Spinner(componentHolder);
          }
        }
      });
    </script>

    <style>
.ui-sample {
  padding: 10px;
  margin-top:    10px;
  margin-bottom: 10px;
  border: thin solid;
  border-radius: 2px;
/*  text-align: center;*/
}
.fpig-h1 {
  margin-top:    0px;
  margin-bottom: 0px;
  padding-left:  10px;
  border-top-right-radius: 2px;
  border-top-left-radius:  2px;
}
.fpig-h3 {
  padding-left:  10px;
  border-radius: 2px;
}
.fpig-header-NavBar {
  padding-left:   20px;
  padding-right:  20px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius:  2px;
}
.hide_about {
  visibility: hidden;
}
    </style>
  </head>
<body>
  <main class="Container" ng-controller="OfficeUI_SampleAppCtrl">
    <div class="ms-Grid">
      <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
          <h1 class="ms-fontColor-white ms-bgColor-themeDarkAlt fpig-h1">
            <i class="ms-Icon ms-Icon--cat"></i>
            Office UI Fabricサンプル
          </h1>
        </div>
        <div class="ms-Grid-col ms-u-sm6 ms-u-md4 ms-u-lg12">
          <div class="ms-NavBar fpig-header-NavBar">
            <ul class="ms-NavBar-items">
              <li class="ms-NavBar-item" ng-click="showAbout()">
                <i class="ms-Icon ms-Icon--infoCircle"></i>
                About...
              </li>
            </ul>
            <ul class="ms-NavBar-items">
              <li class="ms-NavBar-item ms-NavBar-item--right is-disabled" style="margin-top:5px;margin-right:-18px;">
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://furandon_pig.bitbucket.org/sample/officeui/">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
              </li>
            </ul>
          </div>
        </div>

        <!--
          その他のサンプルへのリンク
        -->
        <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg1">
          </div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg10">
            <h3 class="ms-fontColor-white ms-bgColor-themeTertiary fpig-h3">
              <i class="ms-Icon ms-Icon--arrowUpRight"></i>
              その他のサンプルアプリ
            </h3>
          </div>
        </div>
        <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg1">
          </div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg10">
            <p>
              <ul style="margin-top:-30px;margin-bottom:-30px;">
                <li>
                  <label class="ms-Label">
                    <a href="todo_app.html" target="_blank">ToDoアプリ</a>
                  </label>
                </li>
                <li>
                  <label class="ms-Label">
                    <a href="json_export/" target="_blank">JSONデータのexport/importサンプル</a>
                  </label>
                </li>
              </ul>
            </p>
          </div>
        </div>

        <!--
          ラベルのサンプル
        -->
        <div ng-controller="LabelSampleCtrl">
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <h3 class="ms-fontColor-white ms-bgColor-themePrimary fpig-h3">
              <i class="ms-Icon ms-Icon--lightBulb"></i>
              ラベル
            </h3>
          </div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg1">
          </div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg10 ui-sample" style="text-align:center;">
            <label class="ms-Label ms-fontColor-{{currentColor}}">
              CHANGE! MY WORLD&nbsp;&nbsp;かしこまっ！&nbsp;&nbsp;CHANGE! MY WORLD
            </label>
          </div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg1">
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg10">
              <label class="ms-Label ms-fontColor-green">
                <i class="ms-Icon ms-Icon--infoCircle"></i>
                カラー名を選択すると上のラベルの色が変わります。
              </label>
            </div>
          </div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg1">
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg10">
              <div class="ms-ChoiceFieldGroup">
                <span class="ms-ChoiceField" ng-repeat="color in msFontColors">
                  <input id="{{color}}" class="ms-ChoiceField-input" type="radio" value="{{color}}" name="labelColor" ng-click="showHtmlCode(color)" ng-model="radioColor">
                  <label for="{{color}}" class="ms-ChoiceField-field">
                    <span class="ms-Label ms-fontColor-{{color}}" style="margin-right:20px;">
                      {{color}}
                    </span>
                  </label>
                </span>
              </div>
            </div>
          </div>
          <!-- HTML code example -->
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <div class="ms-TextField ms-TextField--multiline">
              <label class="ms-Label">HTMLコード例：</label>
              <textarea class="ms-TextField-field" ng-model="html"></textarea>
            </div>
          </div>
        </div>

        <!--
          文字サイズのサンプル
        -->
        <div ng-controller="FontsizeSampleCtrl">
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <h3 class="ms-fontColor-white ms-bgColor-themePrimary fpig-h3">
              <i class="ms-Icon ms-Icon--fontIncrease"></i>
              文字サイズ
            </h3>
          </div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg1">
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg10">
              <div class="ms-TextField">
                <label class="ms-Label is-required">ラベルの文字列</label>
                <input class="ms-TextField-field" placeholder="ラベルとして表示する文字列" ng-model="labelString" ng-change="showHtmlCode(undefined)">
              </div>
            </div>
          </div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg1">
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg10">
              <span class="ms-ChoiceField" ng-repeat="size in sizes">
                <input id="{{size}}" class="ms-ChoiceField-input" type="radio" value="{{size}}" name="labelSize" ng-click="showHtmlCode(size)" ng-model="currentSize">
                <label for="{{size}}" class="ms-ChoiceField-field">
                  <span class="ms-Label {{size}}" style="margin-right:20px;">
                    {{size}}
                  </span>
                </label>
              </span>
            </div>
          </div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg1">
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg10 ui-sample" style="text-align:center;">
              <label class="ms-Label {{currentSize}}">
                {{labelString}}
              </label>
            </div>
          </div>
          <!-- HTML code example -->
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <div class="ms-TextField ms-TextField--multiline">
              <label class="ms-Label">HTMLコード例：</label>
              <textarea class="ms-TextField-field" ng-model="html"></textarea>
            </div>
          </div>
        </div>

        <!--
          ボタンのサンプル
        -->
        <div ng-controller="ButtonSampleCtrl">
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <h3 class="ms-fontColor-white ms-bgColor-themePrimary fpig-h3">
              <i class="ms-Icon ms-Icon--lightBulb"></i>
              ボタン
            </h3>
          </div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg1">
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg10 ui-sample" style="padding:10px;">
            <span ng-repeat="button in buttonTypes">
              <button class="ms-Button ms-{{button}}" ng-click="showHtmlCode(button)">
                <span class="ms-Button-label">ms-{{button}}</span>
              </button>
            </span>
          </div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <label class="ms-Label ms-fontColor-green">
              <i class="ms-Icon ms-Icon--infoCircle"></i>
              ボタンっぽく見えないけど、"ms-Button--command"もボタンスタイルの一種です。
            </label>
          </div>
          <!-- HTML code example -->
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <div class="ms-TextField ms-TextField--multiline">
              <label class="ms-Label">HTMLコード例：</label>
              <textarea class="ms-TextField-field" ng-model="html"></textarea>
            </div>
          </div>
        </div>

        <!--
          トグルボタン
        -->
        <div ng-controller="ToggleSampleCtrl">
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <h3 class="ms-fontColor-white ms-bgColor-themePrimary fpig-h3">
              <i class="ms-Icon ms-Icon--toggle"></i>
              トグルボタン
            </h3>
          </div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg1">
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg3">
              <span class="ms-TextField">
                <label class="ms-Label">
                  ms-Toggle-description
                </label>
                <input class="ms-TextField-field" ng-model="toggleLabel" ng-change="showHtmlCode()">
                <span class="ms-TextField-description">トグルに表示するラベル</span>
              </span>
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg3">
              <span class="ms-TextField">
                <label class="ms-Label">
                  ms-Label--on
                </label>
                <input class="ms-TextField-field" ng-model="toggleOnLabel" ng-change="showHtmlCode()">
                <span class="ms-TextField-description">トグルON側に表示するラベル</span>
              </span>
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg3">
              <span class="ms-TextField">
                <label class="ms-Label">
                  ms-Label--off
                </label>
                <input class="ms-TextField-field" ng-model="toggleOffLabel" ng-change="showHtmlCode()">
                <span class="ms-TextField-description">トグルOFF側に表示するラベル</span>
              </span>
            </div>
          </div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg1">
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg10">
              <div class="ms-ChoiceField">
                <input id="isTextLeft" class="ms-ChoiceField-input" type="checkbox" ng-model="toggleTextLeft" ng-click="checkTextLeft()">
                <label for="isTextLeft" class="ms-ChoiceField-field">
                  <span class="ms-Label">"ms-Toggle--textLeft"スタイルを適用する</span>
                </label>
              </div>
            </div>
          </div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg1">
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg10 ui-sample" style="text-align:center;">
              <span class="ms-Toggle{{styleTextToggle}}">
                <span class="ms-Toggle-description">{{toggleLabel}}</span>
                <input id="toggle1" type="checkbox" class="ms-Toggle-input" ng-model="toggle">
                <label for="toggle1" class="ms-Toggle-field">
                  <span class="ms-Label ms-Label--off">{{toggleOffLabel}}</span>
                  <span class="ms-Label ms-Label--on">{{toggleOnLabel}}</span>
                </label>
              </span>
            </div>

          </div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <label class="ms-Label ms-fontColor-green">
              <i class="ms-Icon ms-Icon--infoCircle"></i>
              AngularJSから参照した上記トグルボタンの値は「{{toggle}}」です。
            </label>
          </div>
          <!-- HTML code example -->
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <div class="ms-TextField ms-TextField--multiline">
              <label class="ms-Label">HTMLコード例：</label>
              <textarea class="ms-TextField-field" ng-model="html"></textarea>
            </div>
          </div>
        </div>

        <!--
          チェックボックスのサンプル
        -->
        <div ng-controller="CheckSampleCtrl">
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <h3 class="ms-fontColor-white ms-bgColor-themePrimary fpig-h3">
              <i class="ms-Icon ms-Icon--checkbox"></i>
              チェックボックス
            </h3>
          </div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg1">
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg6">
              <span class="ms-TextField">
                <label class="ms-Label">チェックボックスのid</label>
                <input class="ms-TextField-field" ng-model="checkBoxID" ng-change="showHtmlCode()">
                <span class="ms-TextField-description">
                  <label class="ms-Label ms-fontColor-green">
                    <i class="ms-Icon ms-Icon--infoCircle"></i>
                    idでチェックボックスとラベルを紐付けます。
                  </label>
                </span>
              </span>
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg4">
              <span class="ms-TextField">
                <label class="ms-Label">チェックボックスのラベル</label>
                <input class="ms-TextField-field" ng-model="checkBoxLabel" ng-change="showHtmlCode()">
              </span>
            </div>
          </div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg1">
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg10 ui-sample" style="text-align:center;">
              <div class="ms-ChoiceField">
                <input id="check1" class="ms-ChoiceField-input" ng-model="check1" type="checkbox">
                <label for="check1" class="ms-ChoiceField-field">
                  <span class="ms-Label">{{checkBoxLabel}}</span>
                </label>
              </div>
          </div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <label class="ms-Label ms-fontColor-green">
              <i class="ms-Icon ms-Icon--infoCircle"></i>
              AngularJSから参照した上記チェックボタンの値は「{{check1}}」です。
            </label>
          </div>
          <!-- HTML code example -->
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <div class="ms-TextField ms-TextField--multiline">
              <label class="ms-Label">HTMLコード例：</label>
              <textarea class="ms-TextField-field" ng-model="html"></textarea>
            </div>
          </div>
        </div>

        <!--
          ラジオボタンのサンプル
        -->
        <div ng-controller="RadioSampleCtrl">
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <h3 class="ms-fontColor-white ms-bgColor-themePrimary fpig-h3">
              <i class="ms-Icon ms-Icon--radioButton"></i>
              ラジオボタン
            </h3>
          </div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg1">
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg5">
              <span class="ms-TextField">
                <label class="ms-Label">ラジオボタングループの名前</label>
                <input class="ms-TextField-field" ng-model="radioGroupName" ng-change="showHtmlCode()">
              </span>
            </div>
          </div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg1">
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg3">
              <label class="ms-Label">ラジオボタンのid</label>
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg3">
              <label class="ms-Label">ラベル</label>
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg3">
              <label class="ms-Label">値</label>
            </div>
          </div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12" ng-repeat="radio in radioBoxes" style="margin-bottom:2px;">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg1">
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg3">
              <span class="ms-TextField">
                <input class="ms-TextField-field" ng-model="radio.id" ng-change="showHtmlCode()">
              </span>
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg3">
              <span class="ms-TextField">
                <input class="ms-TextField-field" ng-model="radio.label" ng-change="showHtmlCode()">
              </span>
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg3">
              <span class="ms-TextField">
                <input class="ms-TextField-field" ng-model="radio.value" ng-change="showHtmlCode()">
              </span>
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg1">
              <label class="ms-Label ms-fontColor-red">
                <i class="ms-Icon ms-Icon--trash" ng-click="removeItem(radio)">削除</i>
              </label>
            </div>
          </div>
          <!-- 「ラジオボタンを追加する」ボタン -->
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg1">
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg4">
              <button class="ms-Button ms-Button--primary" ng-click="addItem()">
                <span class="ms-Button-label">
                  <i class="ms-Icon ms-Icon--plus"></i>
                  ラジオボタンを追加する
                </span>
              </button>
            </div>
          </div>
          <!-- ラジオボタンの表示 -->
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg1">
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg10 ui-sample">
              <div class="ms-ChoiceFieldGroup">

                <div class="ms-ChoiceField">
                  <span ng-repeat="radio in radioBoxes">
                    <input id="{{radio.shadow_id}}" class="ms-ChoiceField-input" type="radio" name="radioName" ng-model="radioName" ng-value="radio.shadow_id" ng-click="setRadioValue(radio)">
                    <label for="{{radio.shadow_id}}" class="ms-ChoiceField-field" style="margin-right:10px;">
                      <span class="ms-Label">{{radio.label}}</span>
                    </label>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <label class="ms-Label ms-fontColor-green">
              <i class="ms-Icon ms-Icon--infoCircle"></i>
              AngularJSから参照した上記ラジオボタンの値は「{{radioName}}」です。
            </label>
          </div>
          <!-- HTML code example -->
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <div class="ms-TextField ms-TextField--multiline">
              <label class="ms-Label">HTMLコード例：</label>
              <textarea class="ms-TextField-field" ng-model="html"></textarea>
            </div>
          </div>
        </div>

        <!--
          テキストフィールドのサンプル
        -->
        <div ng-controller="TextFieldSampleCtrl">
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <h3 class="ms-fontColor-white ms-bgColor-themePrimary fpig-h3">
              <i class="ms-Icon ms-Icon--fieldText"></i>
              テキストフィールド
            </h3>
          </div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg1">
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg10">
              <div class="ms-ChoiceFieldGroup">
                <div class="ms-ChoiceField">
                  <!-- field -->
                  <input id="textSingleLine" class="ms-ChoiceField-input" type="radio" name="FieldStyle" ng-model="FieldStyle" value="field" ng-click="showHtmlCode()">
                  <label for="textSingleLine" class="ms-ChoiceField-field">
                    <span class="ms-Label">TextField-field</span>
                  </label>
                  <!-- underlined -->
                  <span style="margin-left:20px;"></span>
                  <input id="textUnderLine" class="ms-ChoiceField-input" type="radio" name="FieldStyle" ng-model="FieldStyle" value="underlined" ng-click="showHtmlCode()">
                  <label for="textUnderLine" class="ms-ChoiceField-field">
                    <span class="ms-Label">TextField-underlined</span>
                  </label>
                  <!-- multiline -->
                  <span style="margin-left:20px;"></span>
                  <input id="textMultiLine" class="ms-ChoiceField-input" type="radio" name="FieldStyle" ng-model="FieldStyle" value="multiline" ng-click="showHtmlCode()">
                  <label for="textMultiLine" class="ms-ChoiceField-field">
                    <span class="ms-Label">TextField-multiline</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg1">
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg5">
              <span class="ms-TextField">
                <label class="ms-Label">テキストフィールドに付けるラベル</label>
                <input class="ms-TextField-field" ng-model="textLabel" ng-change="showHtmlCode()">
              </span>
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg5">
              <span class="ms-TextField">
                <label class="ms-Label">description</label>
                <input class="ms-TextField-field" ng-model="textDescription" ng-change="showHtmlCode()">
              </span>
            </div>
          </div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg1">
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg5">
              <span class="ms-TextField">
                <label class="ms-Label">placeholder</label>
                <input class="ms-TextField-field" ng-model="textPlaceHolder" ng-change="showHtmlCode()">
              </span>
            </div>
          </div>
          <!--
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg1">
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg8">
              <div class="ms-ChoiceField">
                <input id="coexistLabelAndPlaceHolder" class="ms-ChoiceField-input" type="checkbox" ng-model="coexistLabelAndPlaceHolder" ng-click="showHtmlCode()">
                <label for="coexistLabelAndPlaceHolder" class="ms-ChoiceField-field">
                  <span class="ms-Label">ラベルと"ms-TextField--placeholder"を共存させる</span>
                </label>
              </div>
            </div>
          </div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg1">
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg10">
              <label class="ms-Label ms-fontColor-green" style="margin-top:-14px;">
                <i class="ms-Icon ms-Icon--infoCircle"></i>
                ms-TextField--placeholderを指定すると、labelタグの内容がplaceholderの値になります。
              </label>
            </div>
          </div>
          -->
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg1">
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg8">
              <div class="ms-ChoiceField">
                <input id="labelAddRequired" class="ms-ChoiceField-input" type="checkbox" ng-model="labelAddRequired" ng-click="showHtmlCode()">
                <label for="labelAddRequired" class="ms-ChoiceField-field">
                  <span class="ms-Label">"is-required"スタイルを適用する</span>
                </label>
              </div>
            </div>
          </div>

          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg1">
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg10 ui-sample" style="padding:10px;">
              <span id="myTextField"><!-- TextFieldの設定反映用 --></span>
            </div>
          </div>
          <!-- HTML code example -->
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <div class="ms-TextField ms-TextField--multiline">
              <label class="ms-Label">HTMLコード例：</label>
              <textarea class="ms-TextField-field" ng-model="html"></textarea>
            </div>
          </div>
        </div>

        <!--
          ドロップダウンリスト
        -->
        <div ng-controller="DropdownCtrl">
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <h3 class="ms-fontColor-white ms-bgColor-themePrimary fpig-h3">
              <i class="ms-Icon ms-Icon--dropdown"></i>
              ドロップダウンリスト
            </h3>
          </div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg1">
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg10">
            </div>
          </div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <label class="ms-Label ms-fontColor-yellow">
              <i class="ms-Icon ms-Icon--alert2"></i>
              ラベルと値をAngularJSとドロップダウンリスト間でバインドする方法は調査中です(なのでTexiFieldは現状disabled)。
            </label>
          </div>
          <!-- リストデータ -->
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg1">
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg6">
              <label class="ms-Label">ラベル</label>
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg3">
              <label class="ms-Label">値</label>
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg1">
            </div>
          </div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12" ng-repeat="list in lists" style="margin-bottom:2px;">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg1">
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg6">
              <span class="ms-TextField">
                <input class="ms-TextField-field" ng-model="list.label" ng-change="showHtmlCode()" disabled="true" style="background:#e6eae6;color:#afafb0">
              </span>
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg3">
              <span class="ms-TextField">
                <input class="ms-TextField-field" ng-model="list.value" ng-change="showHtmlCode()" disabled="true" style="background:#e6eae6;color:#afafb0">
              </span>
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg1">
              <label class="ms-Label ms-fontColor-red">
                <i class="ms-Icon ms-Icon--trash" ng-click="removeItem(list)">削除</i>
              </label>
            </div>
          </div>
          <!-- 「リストを追加する」ボタン -->
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg1">
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg4">
              <button class="ms-Button ms-Button--primary" ng-click="addItem()">
                <span class="ms-Button-label">
                  <i class="ms-Icon ms-Icon--plus"></i>
                  リストを追加する
                </span>
              </button>
            </div>
          </div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <label class="ms-Label ms-fontColor-green">
              <i class="ms-Icon ms-Icon--infoCircle"></i>
              AngularJSから参照したドロップダウンリストの値は「{{codeValue}}」です。
            </label>
          </div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg1">
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg10 ui-sample">
              <div id="componentWrapper">
                <div class="ms-Dropdown" tabindex="0">
                  <i class="ms-Dropdown-caretDown ms-Icon ms-Icon--caretDown"></i>
                  <select id="my_select" class="ms-Dropdown-select" ng-model="codeValue" ng-options="c.label for c in lists">
                  </select>
                </div>
              </div>
            </div>
          </div>
          <!-- HTML code example -->
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <div class="ms-TextField ms-TextField--multiline">
              <label class="ms-Label">HTMLコード例：</label>
              <textarea class="ms-TextField-field" ng-model="html"></textarea>
            </div>
          </div>
        </div>

        <!--
          テーブルのサンプル
        -->
        <div ng-controller="TableSampleCtrl">
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <h3 class="ms-fontColor-white ms-bgColor-themePrimary fpig-h3">
              <i class="ms-Icon ms-Icon--table"></i>
              テーブル
            </h3>
          </div>
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg1">
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg10 ui-sample">
              <div class="ms-Table">
                <div class="ms-Table-row">
                  <span class="ms-Table-cell">ブランド</span>
                  <span class="ms-Table-cell">読み</span>
                  <span class="ms-Table-cell">概要</span>
                </div>
                <div class="ms-Table-row">
                  <span class="ms-Table-cell">Twinkle Ribbon</span>
                  <span class="ms-Table-cell">トゥインクルリボン</span>
                  <span class="ms-Table-cell">
                    アニメ第1話で初めてPrism Stoneを訪れたらぁらに似合うブランドとして赤井めが姉ぇが選んだリボンやフリルを使ったコーデのラブリー系ブランド。
                  </span>
                </div>
                <div class="ms-Table-row">
                  <span class="ms-Table-cell">Candy Alamode</span>
                  <span class="ms-Table-cell">キャンディアラモード</span>
                  <span class="ms-Table-cell">
                    みれぃが好んで使用するカラフルで元気いっぱいのポップ系ブランド。
                  </span>
                </div>
                <div class="ms-Table-row">
                  <span class="ms-Table-cell">Holic Trick</span>
                  <span class="ms-Table-cell">ホリックトリック</span>
                  <span class="ms-Table-cell">
                    そふぃが好んで使用するクール系のブランド。いわゆる「ゴシックロリータ（ゴスロリ）」系のブランドで、初めてPrism Stoneを訪れたラブに似合うブランドとして赤井めが姉ぇが選んだブランドでもある。
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!-- HTML code example -->
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <div class="ms-TextField ms-TextField--multiline">
              <label class="ms-Label">HTMLコード例：</label>
              <textarea class="ms-TextField-field" ng-model="html"></textarea>
            </div>
          </div>
        </div>

        <!--
          (ここから新しいサンプルコードを追加する)
        -->
      </div>
    </div>

    <!-- ダイアログ -->
    <!-- アイコン -->

    <!-- "About..."ダイアログ-->
    <div class="ms-Dialog ms-Dialog--lgHeader hide_about" ng-class={"hide_about":isAboutShow}>
      <div class="ms-Overlay">
        <div class="ms-Dialog-main">
          <div class="ms-Dialog-header">
            <p class="ms-Dialog-title">
              <i class="ms-Icon ms-Icon--infoCircle"></i>
              About...
            </p>
          </div>
          <div class="ms-Dialog-inner">
            <div class="ms-Dialog-content">
              <label class="ms-Label">
                <a href="https://github.com/OfficeDev/Office-UI-Fabric" target="_blank">Office UI Fabric</a>のUI部品サンプルです。それぞれのUI部品の表示やHTMLコード例を動かしながら確認できます。
              </label>
              <label class="ms-Label">
                サンプルプログラムでは<a href="https://angularjs.org" target="_blank">AngularJS</a>を用いており、一部のUI部品サンプルでは、AngularJSとバインドしたUI部品の値を表示したりしています。
              </label>
              <label class="ms-Label">
                不具合などありましたら<a href="https://twitter.com/furandon_pig">@furandon_pig</a>までお知らせください。
              </label>
            </div>
            <div class="ms-Dialog-actions">
              <div class="ms-Dialog-actionsRight">
                <button class="ms-Dialog-action ms-Button ms-Button--primary" ng-click="closeAbout()">
                  <span class="ms-Button-label">OK</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main> 
  <!-- jquery.facric.jsにおけるドロップダウンリストの処理に独自の変更を入れている -->
  <script src="dist/js/jquery.fabric.js"></script>
</body>
</html>

