<!DOCTYPE html>
<html ng-app="ToDoApp">
  <head>
    <meta charset="utf-8" />
    <title>ToDo application</title>
    <link rel="stylesheet" href="dist/css/fabric.components.min.css">
    <link rel="stylesheet" href="dist/css/fabric.min.css">
    <script src="/lib/angular-1.4.5/angular.min.js"></script>
    <script src="todo_app.js"></script>
    <style>
.ms-ListItem.is-x-selectable:hover {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  border-radius: 2px;
  /* background-color: #eaeaea; */
  background-color: #bbdbf3; /* フロスティブルー */
}
.fpig-h1 {
  margin-top:    0px;
  margin-bottom: 0px;
  padding-left:  8px;
  border-top-right-radius: 2px;
  border-top-left-radius:  2px;
}
.fpig-header-NavBar {
  padding-left:   8px;
  padding-right:  8px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius:  2px;
}
.fpig-footer-NavBar {
  padding-left:   8px;
  padding-right:  8px;
  border-radius: 2px;
}
.todo-prio-high {
  color: red;
}
.todo-prio-mid {
  color: black;
}
.todo-prio-low {
  color: green;
}
.fpig-TaskText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
    </style>
  </head>
<body>
  <main class="Container" ng-controller="ToDoAppCtrl">
      <!-- title -->
      <div class="ms-Grid">
        <div class="ms-Grid-row">
          <div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg12">
            <div class="Header ms-borderColor-greenLight">
              <div class="Header-text">
                <div class="u-contentCenter">
                  <h1 class="ms-fontColor-white ms-bgColor-themeDarkAlt fpig-h1">
                    <i class="ms-Icon ms-Icon--listCheckbox"></i>
                    ToDo application
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- NavBar -->
      <div class="ms-Grid">
        <div class="ms-Grid-row">
          <div class="ms-Grid-col ms-u-sm6 ms-u-md4 ms-u-lg12">
            <div class="ms-NavBar fpig-header-NavBar">
              <ul class="ms-NavBar-items">
                <!-- "New ToDo"ボタン -->
                <li class="ms-NavBar-item ms-fontColor-blue" ng-click="open()">
                  <i class="ms-Icon ms-Icon--new"></i>
                  ToDoの追加
                </li>
                <li class="ms-NavBar-item" ng-click="showConfig()">
                  <i class="ms-Icon ms-Icon--gear"></i>
                  設定
                </li>
                <li class="ms-NavBar-item" ng-click="showExport()">
                  <i class="ms-Icon ms-Icon--upload"></i>
                  エクスポート
                </li>
                <li class="ms-NavBar-item" ng-click="showImport()">
                  <i class="ms-Icon ms-Icon--download"></i>
                  インポート
                </li>
                <li class="ms-NavBar-item ms-NavBar-item--right" ng-click="showAbout()">
                  <i class="ms-Icon ms-Icon--infoCircle"></i>
                  About...
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- ToDo一覧 -->
      <div class="ms-Grid">
        <div class="ms-Grid-row">
          <div class="ms-Grid-col ms-u-sm6 ms-u-md4 ms-u-lg12">
            <div class="sample-wrapper">
              <ul class="ms-List ms-List--grid">
                <div ng-repeat="todo in todos | filter: { 'showToDo': true }" class="ms-fontSize-mi">
                  <div class="ms-ListItem is-unread is-x-selectable">
                    <div class="ms-ChoiceField">
                      <input id="data{{todo.id}}" class="ms-ChoiceField-input" type="checkbox" ng-model="todo.done" ng-click="done(task)">
                      <label for="data{{todo.id}}" class="ms-ChoiceField-field">
                      </label>
                      <label class="ms-Label fpig-TaskText {{getPriorityColor(todo)}}" style="{{getTaskDecoration(todo)}}">
                        {{todo.task}}
                      </label>
                    </div>
                    <span class="ms-ListItem-secondaryText" style="{{getTaskDecoration(todo)}}">
                      優先度：{{getPriorityChar(todo)}}
                    </span>
                    <span class="ms-ListItem-tertiaryText" style="{{getTaskDecoration(todo)}}">
                      {{showMemo(todo.memo)}}
                    </span>
                    <div class="ms-ListItem-actions">
                      <div class="ms-ListItem-action">
                        <i class="ms-Icon ms-Icon--editBox" ng-click="edit(todo)"></i>
                      </div>
                      <div class="ms-ListItem-action">
                        <i class="ms-Icon ms-Icon--triangleUp" ng-click="increasePriority(todo)"></i>
                      </div>
                      <div class="ms-ListItem-action">
                        <i class="ms-Icon ms-Icon--triangleDown" ng-click="decreasePriority(todo)"></i>
                      </div>
                      <div class="ms-ListItem-action">
                        <i class="ms-Icon ms-Icon--trash" ng-click="remove(todo)"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- footer用NavBar -->
      <div class="ms-Grid">
        <div class="ms-Grid-row">
          <div class="ms-Grid-col ms-u-sm6 ms-u-md4 ms-u-lg12">
            <div class="ms-NavBar fpig-footer-NavBar">
              <ul class="ms-NavBar-items" ng-hide="showRemoveAllSample">
                <li class="ms-NavBar-item">
                  <i class="ms-Icon ms-Icon--trash"></i>
                  <span ng-click="removeAllSampleData()">サンプルToDoデータを削除する</span>
                </li>
                </li>
              </ul>
              <ul class="ms-NavBar-items">
                <li class="ms-NavBar-item ms-NavBar-item--right is-disabled" style="margin-top:5px;margin-right:0px;">
                  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://furandon_pig.bitbucket.org/sample/officeui/todo_app.html">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </li>
                <li class="ms-NavBar-item ms-NavBar-item--right">
                  <i class="ms-Icon ms-Icon--arrowUpRight"></i>
                  <a href="https://angularjs.org" target="_blank">AngularJS</a>
                </li>
                <li class="ms-NavBar-item ms-NavBar-item--right">
                  <i class="ms-Icon ms-Icon--arrowUpRight"></i>
                  <a href="https://github.com/OfficeDev/Office-UI-Fabric" target="_blank">Office UI Fabric</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- "New ToDo"ダイアログボックス-->
      <div class="ms-Dialog ms-Dialog--lgHeader" style="visibility:{{dlgToDo}}">
        <div class="ms-Overlay">
          <div class="ms-Dialog-main">
            <div class="ms-Dialog-header">
              <p class="ms-Dialog-title">
              <i class="ms-Icon ms-Icon--{{dlgIcon}}"></i>
                ToDoの{{openType}}
              </p>
            </div>
            <div class="ms-Dialog-inner">
              <div class="ms-Dialog-content">
                <!-- 概要 -->
                <div class="ms-TextField">
                  <label class="ms-Label is-required">
                    <i class="ms-Icon ms-Icon--tasks"></i>
                    概要
                  </label>
                  <input class="ms-TextField-field" placeholder="ToDoの概要を入力してください。" ng-model="task">
                </div>
                <!-- 優先度 -->
                <div class="ms-ChoiceFieldGroup">
                  <div class="ms-ChoiceFieldGroup-title">
                    <label class="ms-Label is-required">
                      <i class="ms-Icon ms-Icon--balloon"></i>
                      優先度
                    </label>
                  </div>
                  <div class="ms-ChoiceField">
                    <!-- -->
                    <input id="prio_high" class="ms-ChoiceField-input" type="radio" ng-model="prio" ng-value="2" name="todo_prio">
                    <label for="prio_high" class="ms-ChoiceField-field">
                      <span class="ms-Label ms-fontColor-red">高</span>
                    </label>
                    <!-- -->
                    <span style="margin-left:40px;">
                    <input id="prio_medium" class="ms-ChoiceField-input" type="radio" ng-model="prio" ng-value="1" name="todo_prio">
                    <label for="prio_medium" class="ms-ChoiceField-field">
                      <span class="ms-Label">中</span>
                    </label>
                    <!-- -->
                    <span style="margin-left:40px;">
                    <input id="prio_low" class="ms-ChoiceField-input" type="radio" ng-model="prio" ng-value="0" name="todo_prio">
                    <label for="prio_low" class="ms-ChoiceField-field">
                      <span class="ms-Label ms-fontColor-green">低</span>
                    </label>
                  </div>
                </div>

                <!-- メモ -->
                <div class="ms-TextField ms-TextField--multiline">
                  <label class="ms-Label">
                    <i class="ms-Icon ms-Icon--note"></i>
                    メモ
                  </label>
                  <textarea class="ms-TextField-field" ng-model="memo"></textarea>
                </div>
                <div class="ms-Dialog-actions">
                  <div class="ms-Dialog-actionsRight">
                    <button class="ms-Dialog-action ms-Button" ng-click="dismissDialog()">
                      <span class="ms-Button-label">Cancel</span>
                    </button>
                    <button class="ms-Dialog-action ms-Button ms-Button--primary" ng-click="close()">
                      <span class="ms-Button-label">OK</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 「設定」ダイアログ -->
      <div class="ms-Dialog ms-Dialog--lgHeader" style="visibility:{{dlgConfig}}">
        <div class="ms-Overlay">
          <div class="ms-Dialog-main">
            <div class="ms-Dialog-header">
              <p class="ms-Dialog-title">
                <i class="ms-Icon ms-Icon--gear"></i>
                設定
              </p>
            </div>
            <div class="ms-Dialog-inner">
              <div class="ms-Dialog-content">
                <div class="ms-ChoiceField">
                  <input id="show_done_task" class="ms-ChoiceField-input" type="checkbox" ng-model="showDoneTask">
                  <label for="show_done_task" class="ms-ChoiceField-field">
                    <span class="ms-Label">完了したToDoも表示する</span>
                  </label>
                </div>
                <div class="ms-ChoiceField">
                  <input id="confirm_remove_task" class="ms-ChoiceField-input" type="checkbox" ng-model="isConfirmRemove">
                  <label for="confirm_remove_task" class="ms-ChoiceField-field">
                    <span class="ms-Label">ToDoの削除時に確認する</span>
                  </label>
                </div>
                <button class="ms-Dialog-action ms-Button" ng-disabled="disableLocalStorage" ng-click="clearLocalStorageData()">
                  <span class="ms-Button-label ms-fontColor-red">
                    <i class="ms-Icon ms-Icon--alertOutline"></i>
                    local&nbsp;storageをクリアする
                  </span>
                </button>
                <label class="ms-Label ms-fontColor-green">
                  <i class="ms-Icon ms-Icon--infoCircle"></i>
                  &nbsp;{{storage_clear_info}}
                </label>
              </div>
              <div class="ms-Dialog-actions">
                <div class="ms-Dialog-actionsRight">
                  <button class="ms-Dialog-action ms-Button ms-Button" ng-click="dismissConfig()">
                    <span class="ms-Button-label">Cencel</span>
                  </button>
                  <button class="ms-Dialog-action ms-Button ms-Button--primary" ng-click="closeConfig()">
                    <span class="ms-Button-label">OK</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- エクスポート用ダイアログ -->
      <div class="ms-Dialog ms-Dialog--lgHeader" style="visibility:{{showFlgExportDlg}}">
        <div class="ms-Overlay">
          <div class="ms-Dialog-main">
            <div class="ms-Dialog-header">
              <p class="ms-Dialog-title">
                <i class="ms-Icon ms-Icon--upload"></i>
                エクスポート
              </[>
            </div>
            <div class="ms-Dialog-inner">
              <div class="ms-Dialog-content">
                <div class="ms-TextField ms-TextField--multiline">
                  <label class="ms-Label">
                    <i class="ms-Icon ms-Icon--notebook"></i>
                    データ
                  </label>
                  <textarea class="ms-TextField-field" rows="80" cols="200" placeholder="" ng-model="jsonData">
                  </textarea>
                </div>
              </div>
                <label class="ms-Label ms-fontColor-green">
                  <i class="ms-Icon ms-Icon--infoCircle"></i>
                  ToDoデータを<a href="https://ja.wikipedia.org/wiki/JavaScript_Object_Notation" target="_blank">JSON形式</a>でエクスポートします。
                </label>
              <div class="ms-Dialog-actions">
                <div class="ms-Dialog-actionsRight">
                  <button class="ms-Dialog-action ms-Button ms-Button--primary" ng-click="closeExport()">
                    <span class="ms-Button-label">Close</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- インポート用ダイアログ -->
      <div class="ms-Dialog ms-Dialog--lgHeader" style="visibility:{{showFlgImportDlg}}">
        <div class="ms-Overlay">
          <div class="ms-Dialog-main">
            <div class="ms-Dialog-header">
              <p class="ms-Dialog-title">
                <i class="ms-Icon ms-Icon--download"></i>
                インポート
              </p>
            </div>
            <div class="ms-Dialog-inner">
              <div class="ms-Dialog-content">
                <div class="ms-TextField ms-TextField--multiline">
                  <label class="ms-Label">
                    <i class="ms-Icon ms-Icon--notebook"></i>
                    データ
                  </label>
                  <textarea class="ms-TextField-field" rows="80" cols="200" placeholder="" ng-model="jsonData">
                  </textarea>
                </div>
                <div ng-hide="isExport">
                    <button class="ms-Dialog-action ms-Button" ng-click="doImport()">
                    <span class="ms-Button-label">
                      <i class="ms-Icon ms-Icon--alertOutline"></i>
                      インポート
                    </span>
                  </button>
                  <label class="ms-Label ms-fontColor-{{importErrorColor}}">
                    <i class="ms-Icon ms-Icon--{{importErrorIcon}}"></i>
                    {{importErrorMsg}}
                  </label>
                </div>
              </div>
              <div class="ms-Dialog-actions">
                <div class="ms-Dialog-actionsRight">
                  <button class="ms-Dialog-action ms-Button ms-Button--primary" ng-click="closeImport()">
                    <span class="ms-Button-label">Close</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- "About..."ダイアログ-->
      <div class="ms-Dialog ms-Dialog--lgHeader" style="visibility:{{dlgAbout}}">
        <div class="ms-Overlay">
          <div class="ms-Dialog-main">
            <div class="ms-Dialog-header">
              <p class="ms-Dialog-title">
                <i class="ms-Icon ms-Icon--infoCircle"></i>
                このアプリについて
              </p>
            </div>
            <div class="ms-Dialog-inner">
              <div class="ms-Dialog-content">
                <label class="ms-Label">
                  <a href="https://github.com/OfficeDev/Office-UI-Fabric" target="_blank">Office UI Fabric</a>と<a href="https://angularjs.org" target="_blank">AngularJS</a>を用いて作成したToDoアプリです。
                </label>
                <label class="ms-Label">
                  ToDoデータの保存先は<a href="https://en.wikipedia.org/wiki/Web_storage">local storage</a>のみです。
                </label>
                <label class="ms-Label">
                  不具合などありましたら<a href="https://twitter.com/furandon_pig">@furandon_pig</a>までお知らせください。
                </label>
              </div>
              <div class="ms-Dialog-actions">
                <div class="ms-Dialog-actionsRight">
                  <button class="ms-Dialog-action ms-Button ms-Button--primary" ng-click="closeAbout()">
                    <span class="ms-Button-label">OK</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- confirmダイアログ -->
      <div class="ms-Dialog ms-Dialog--lgHeader" style="visibility:{{showFlgConfirmDlg}}">
        <div class="ms-Overlay">
          <div class="ms-Dialog-main">
            <div class="ms-Dialog-header">
              <p class="ms-Dialog-title">
              <i class="ms-Icon ms-Icon--question"></i>
                {{confirmTitle}}
              </p>
            </div>
            <div class="ms-Dialog-inner">
              <div class="ms-Dialog-content">
                <label class="ms-Label">
                  {{confirmMsg}}
                </label>
              </div>
              <div class="ms-Dialog-actions">
                <div class="ms-Dialog-actionsRight">
                  <button class="ms-Dialog-action ms-Button ms-Button--primary" ng-click="closeConfirmYes()">
                    <span class="ms-Button-label">Yes</span>
                  </button>
                  <button class="ms-Dialog-action ms-Button ms-Button" ng-click="closeConfirmNo()">
                    <span class="ms-Button-label">No</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main> 
    <script src="dist/js/jquery.fabric.min.js"></script>
  </body>
</html>

